/* Styles for destroy all hippies */

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

body {
    margin: 0;
    overflow: hidden;
}
.centred {
    text-align: center;
}
@font-face {
    font-family: 'bitstream';
    src: url('../fonts/VeraMono-webfont.eot');
    src: url('../fonts/VeraMono-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VeraMono-webfont.woff') format('woff'),
    url('../fonts/VeraMono-webfont.ttf') format('truetype'),
    url('../fonts/VeraMono-webfont.svg#bitstream_vera_sans_monoroman') format('svg');
    font-weight: normal;
    font-style: normal;

}
@-webkit-keyframes intro {
    0% {
        color: black;
    }
    50% {
        color: gray;
    }
    100% {
        color: white;
    }
}
.hide {
    display: none;
}
.displayText {
    position: fixed;
    top: 35%;
    left: 25%;
    width: 40%;
    font-family: bitstream, sans-serif;
    font-size: 2em;
    padding: 1% 5%;
    color: white;
    border: none;
    border-radius: 15px;

    -webkit-animation-name: intro;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 10s;
}
