/* Styles for destroy all hippies */

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
@font-face {
    font-family: 'bitstream';
    src: url('../fonts/VeraMono-webfont.eot');
    src: url('../fonts/VeraMono-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/VeraMono-webfont.woff') format('woff'),
    url('../fonts/VeraMono-webfont.ttf') format('truetype'),
    url('../fonts/VeraMono-webfont.svg#bitstream_vera_sans_monoroman') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    overflow: hidden;
    font-family: bitstream, sans-serif;
    color: white;
    background: black;
}
.centred {
    text-align: center;
}
@-webkit-keyframes intro {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@-webkit-keyframes fadeInQuick {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 1;
    }
}
@-webkit-keyframes drop35 {
    0% {
        top: 35%;
    }

    100% {
        top: 35%;
    }
}
@-webkit-keyframes drop70 {
    0% {
        top: 70%;
    }

    100% {
        top: 70%;
    }
}
@-webkit-keyframes flash {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.hide {
    display: none;
}
.clear {
    opacity: 0;
}
.menuText {
    width: 30%;
    font-size: 2em;
    padding: 0.7% 1%;
}
.middle {
    margin-left: auto;
    margin-right: auto;
}
.rounded {
    border-radius: 15px;
}
.displayText {
    opacity: 0;
    position: fixed;
    top: 35%;
    left: 25%;
    width: 40%;
    font-size: 2em;
    padding: 1% 5%;
    border-radius: 15px;
}
.titleText {
    opacity: 1;
    position: fixed;
    top: -35%;
    left: 25%;
    width: 40%;
    font-size: 2em;
    padding: 1% 5%;
    border-radius: 15px;
}
.bordered {
    border: 3px solid white;
}
.selected {
    color: red;
}

#hippiesIntro {
    -webkit-animation-name: intro;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 10s;
}
#mainText {
    -webkit-animation-name: intro;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 10s;
    -webkit-animation-delay: 10s;
}
#teaserText {
    -webkit-animation-name: intro;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 10s;
    -webkit-animation-delay: 20s;
}
#destroyText {
    -webkit-animation-name: fadeInQuick;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 300s;
    -webkit-animation-delay: 30s;
}
#allText {
    -webkit-animation-name: fadeInQuick;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 300s;
    -webkit-animation-delay: 35s;
}
#hippiesText {
    -webkit-animation-name: fadeInQuick;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 300s;
    -webkit-animation-delay: 40s;
}
#surround {
    -webkit-animation-name: drop35;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 300s;
    -webkit-animation-delay: 30s;
}
#startText {
    -webkit-animation-name: drop70, flash;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 50s;
}
.flashing {

}
.separate {
    margin-bottom: 2%;
}
#Start {
    margin-top: 7%;
}